<div class="container p-4 text-center signin">
    <a class="twitter-timeline" data-height="450" data-theme="light"
        href="https://twitter.com/virtualongaming?ref_src=twsrc%5Etfw">Tweets by virtualongaming</a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <div class="social-icons">
        <img src="/img/fb-icon-blanco.png">
        <img src="/img/ig-icon-blanco.png">
    </div>
</div>