<div class="container p-4 overflow-auto">
    <div class="row">
        <div class="col-md-4 mx-auto ">
            <div class="card text-center">
                <div class="card-body">
                    <h3>{{user.fullname}}</h3>
                    <a href="/links" class="btn btn-success m-4">Go to your links</a>
                    <p>Your Bookings:</p>
                </div>
            </div>
            <div class="card text-center">
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Event</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Phone</th>
                                </tr>
                            </thead>
                            </thead>
                                {{#each bookings}}
                                <tr>
                                <li>
                                    <td>{{user_name}}</td>
                                    <td>{{bk_date}}</td>
                                    <td>{{phone}}</td>
                                 </li>
                                </tr>
                                {{/each}}
                        </table>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>