body {
    font-family: 'Dela Gothic One', cursive;
    margin: 0;
}

.hero {
    height: 100%;
    width: 100%;
    background-image: url(/App/images/fondo-4k.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
}

.form-box {
    background: rgba(255, 255, 255, 0.85);
    width: 320px;
    height: 600px;
    position: relative;
    margin: 3% auto;
    padding: 6px;
    border-radius: 10px;
    overflow: hidden;
    z-index: 5;
}

.button-box {
    width: 220px;
    margin: 15px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
}

.toggle-btn {
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}

#btn {
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #0093fe, #82f2ff);
    border-radius: 30px;
    transition: .5s;
}

.social-icons {
    margin: 0px auto;
    text-align: center;
}

.social-icons img {
    width: 30px;
    margin: 0 8px;
    box-shadow: 0 0 20 0 #7f7f7f3d;
    cursor: pointer;
    border-radius: 50%;
}

.input-group {
    top: 380px;
    position: absolute;
    width: 280px;
    transition: .5s;
}

.input-field {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.submit-btn {
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    margin-top: 0%;
    background: linear-gradient(to right, #0093fe, #82f2ff);
    border: 0;
    outline: none;
    border-radius: 30px;
}

span {
    color: #777;
    font-size: 12px;
    bottom: 68px;
    position: absolute;
}

#login {
    left: 20px;
}

#register {
    left: 400px;
}

.title {
    margin-top: 30px;
}

.title-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.under-title {
    font-family: 'Dela Gothic One', cursive;
    height: 40px;
    font-size: 40px;
    font-weight: 500;
    margin-left: 0;
    text-align: center;
    margin-top: 0px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.mail {
    padding-top: 10px;
}

.password {
    padding-top: 10px;
}

.login {
    margin-top: 30px;
}

.user-id {
    margin-top: 40px;
}

.user-pass {
    margin-top: 20px;
}

.register {
    margin-top: 20px;
}

.register-id {
    margin-top: 15px;
}

.btn-back {
    color: #000;
    margin-left: 15px;
    font-size: 20px;
}